@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.btn-primary {
  color: rgb(255, 255, 255);
  border-radius: 46px;
  background: rgb(230, 83, 60);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 15px;
  border: none;
  /* border: 2px solid skyblue; */
}

.description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 900;
}

/* Nav Style Start */
.nav-container {
  max-width: 1440px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid blue; */
}
.nav-title {
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800;
  /* border: 2px solid green; */
}
.nav-items {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  gap: 50px;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 0 20px 0 5px;
}

.bar {
  display: none;
}
/* Nav Style End */

/* Hero Img Style Start  */
.hero-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  /* background-image: linear-gradient(to bottom, #000000, #434343, #000000); */
  /* background-image: linear-gradient(to bottom,#141414, #222222, #141414); */
  /* border: 2px solid tomato; */
}
.hero-content {
  /* border: 2px solid green; */
  margin: 0 400px 30px 0;
  /* padding-left: 10px; */
  /* width: 70%; */
}

.hero-title {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 900;
  /* margin: 0 500px 30px 0; */
  margin: 50px 0 20px 0;
  /* border: 2px dotted red; */
}

.hero-des {
  margin-bottom: 30px;
}
.shape {
  font-family: "Miama", sans-serif;
  font-size: 100px;
  font-weight: 900;
}

.hero-img {
  background-image: url("../images/Images\ 2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 2px solid blue; */
  margin-right: 120px;
}

.hero-foot {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}
.hero-btn {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 50px;
  cursor: pointer;
}
.dnld-app {
  border-radius: 46px;
  border: 2px solid white;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 50px;
  cursor: pointer;
}
.card-1,
.card-2 {
  background-color: darkgray;
  position: relative;
}

.card-1 {
  margin-top: 110px;
  margin-left: 250px;
  /* width: 120px;
  height: 60px; */
}

.card-2 {
  margin-top: 200px;
  margin-right: 200px;
}
/* Hero Img Style End */

/* Change Your Habit Style Start */
.habit-container {
  max-width: 1440px;
  margin: 100px auto;
  text-align: center;
  /* border: 2px solid yellow; */
}

.habit-title {
  margin-bottom: 20px;
}

.habit-img-container {
  display: flex;
  gap: 10px;
  margin-top: 60px;
  justify-content: space-between;
}

.habit-img img {
  border-radius: 50%;
}

.habit-heading {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0 10px;
}

.habit-details {
  margin: 50px 40px;
}
/* Change Your Habit Style End */

/* Run on Extra Mile Style Start */
.run-container {
  max-width: 1440px;
  margin: 100px auto;
  display: flex;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  /* border: 2px solid green; */
}

.run-content {
  margin: 40px 0 0 80px;
  /* border: 2px solid seagreen; */
}

.run-description {
  margin: 30px 200px 30px 0;
  /* border: 2px dotted yellow; */
}
.run-btn {
  width: 180px;
  height: 40px;
  font-family: Inter;
  cursor: pointer;
  /* border: 2px solid wheat; */
}

.run-img{
  /* margin-left: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid slateblue; */
}

.run-image {
  width: 90%;
  height: 90%;
  border-radius: 18px;
  /* border: 2px solid darkcyan; */
}
/* Run on Extra Mile Style End */

/* Responsive Style Start */
@media screen and (max-width: 576px) {
  .nav-container {
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 20px;
  }
  .nav-items {
    display: none;
  }

  .bar {
    display: block;
    color: white;
    margin-top: 10px;
  }

  .hero-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* border: 2px solid tomato; */
  }
  .hero-content {
    margin: 0 auto 50px auto;
    padding-left: 40px;
    /* border: 2px solid yellow; */
  }
  .hero-foot {
    gap: 10px;
  }

  .hero-btn,
  .dnld-app {
    margin-top: 30px;
    padding: 5px 20px;
  }

  .hero-img {
    background-image: url("../images/Images\ 2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px solid blue; */
    margin: 0 auto;
    height: 700px;
  }

  .habit-img-container {
    flex-direction: column;
    /* gap: 10px; */
    margin-top: 60px;
    /* justify-content: space-between; */
  }

  #habit-description{
    padding: 0 50px;
  }

  .habit-details {
    margin: 0 120px;
    margin-bottom: 30px;
  }

  .run-container {
    margin: 0 30px;
    flex-direction: column;
    /* border: 2px solid green; */
  }

  .run-content {
    margin: 60px 0 0 40px;
  }

  .run-description {
    margin: 20px 50px 20px 0;
  }

  .run-image{
    margin: 30px 0;
    width: 90%;
  }
  .run-btn {
    /* width: 180px;
    height: 40px; */
    width: 90%;
    font-family: Inter;
    cursor: pointer;
    /* border: 2px solid wheat; */
  }
}
/* Responsive Style End  */
